.images {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 1120px;
  box-sizing: border-box;
  @include responsive(tablet) {
    padding: 0 60px;
    margin: 0;
  }
  @include responsive(phone) {
    grid-auto-rows: auto;
    padding: 0 20px;
  }
  &__upper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 448px minmax(180px, 912px);
    grid-gap: 20px;
    @include responsive(tablet) {
      grid-template-columns: 448px minmax(180px, 640px);
    }
    @include responsive(phone) {
      display: flex;
      flex-direction: column;
    }
  }
  &__lower {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(173px, 630px) 730px;
    grid-gap: 20px;
    @include responsive(tablet) {
      grid-template-columns: minmax(173px, 630px) 455px;
    }
    @include responsive(phone) {
      display: flex;
      flex-direction: column;
    }
  }
  &__text {
    padding: 0;
    margin: 60px 0 0 60px;
    @include fontproperty(32px, 1.25, 400);
  }
}
