.page {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
  font-family: Roboto, "Arial", sans-serif;
  background-color: $background;
  @include responsive(phone) {
    max-width: 768px;
  }
  @include responsive(tablet) {
    max-width: 1440px;
  }
}
