.header {
  max-width: 1120px;
  margin: 0 auto 60px auto;
  padding: 60px 0 0 0;
  @include responsive(tablet) {
    margin: 0 0 52px 0;
    padding: 60px 60px 0 60px;
  }
  @include responsive(phone) {
    margin: 0;
    padding: 20px 20px 40px 20px;
  }
  &__title {
    margin: 70px 0 0 0;
    padding: 0;
    @include fontproperty(112px, 1, 400);
    color: $primarycolor;
    @include responsive(tablet) {
      @include fontproperty(70px, 1.28, 400);
      margin: 0;
      padding: 70px 0 0 0;
    }
    @include responsive(phone) {
      margin: 60px 0 10px 0;
      @include fontproperty(50px, 1.2, 400);
    }
  }
  &__subtitle {
    margin: 20px 0 470px 0;
    padding: 0;
    @include fontproperty(80px, 88%, 400);
    color: $primarycolor;
    @include responsive(tablet) {
      margin-top: 10px;
      @include fontproperty(50px, 1.2, 400);
    }
    @include responsive(phone) {
      margin: 0 0 260px 0;
      @include fontproperty(30px, 1.26, 400);
    }
  }
}
