.input {
  @include flex();
  margin: 0 0 10px 0;
  padding: 0;
  &__label {
    @include fontproperty();
    @include zeroindent();
    color: $dullcolor;
  }
}

input[type="text"] {
  background-color: $secondarybackground;
  border: none;
  border-radius: 8px 0 0 8px;
}
