.logo {
  margin: 0 30px 0 0;
  padding: 0;
  @include fontproperty(20px, 1.33, 400);
  color: $primarycolor;
  @include responsive(tablet) {
    margin: 0 20px 0 0;
    @include fontproperty(22px, 1.36, 400);
  }
}
