.inputarea {
  min-width: 229px;
  flex-grow: 1;
  margin: 0;
  padding: 20px 15px 17px 15px;
  color: $primarycolor;
  &:focus {
    background-color: rgba(142, 142, 152, 0.3);
    outline: none;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(142, 142, 152, 0.3);
  }
  @include responsive(tablet) {
    max-width: 417px;
  }
  @include responsive(desktop) {
    max-width: 318px;
  }
}
