.footer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  @include responsive(tablet) {
    margin: 0;
    padding: 0 60px 60px 60px;
    max-width: 1000px;
  }
  @include responsive(phone) {
    margin: 0;
    padding: 30px 0 20px 0;
  }
  &__border {
    max-width: 1120px;
    margin: 0 auto 60px auto;
    padding: 0;
    border-top: 2px solid $secondarybackground;
    border-bottom: none;
    border-left: none;
    border-right: none;
    @include responsive(tablet) {
      margin: 0 0 60px 0;
      max-width: 1000px;
    }
    @include responsive(phone) {
      margin: 0 0 30px 0;
    }
  }
}
