.card {
  padding: 40px;
  border-radius: 16px;
  background-color: $darkdullcolor;
  @include responsive(tablet) {
    padding: 40px;
  }
  @include responsive(phone) {
    padding: 20px;
  }
  &__label {
    @include fontproperty(18px, 1, 400);
    @include zeroindent();
    color: $secondarycolor;
  }
  &__heading {
    margin: 20px 0 0 0;
    padding: 0;
    @include fontproperty(32px, 1, 400);
    color: $primarycolor;
    @include responsive(tablet) {
      @include fontproperty(32px, 1, 400);
      margin: 20px 0 0 0;
    }
    @include responsive(phone) {
      margin-top: 15px;
      @include fontproperty(24px, 1.33, 400);
    }
  }
  &__text {
    margin: 40px 0 40px 0;
    padding: 0;
    @include fontproperty(32px, 1.25, 400);
    color: $secondarycolor;
    @include responsive(tablet) {
      margin: 40px 0;
      @include fontproperty(32px, 1.25, 400);
    }
    @include responsive(phone) {
      margin: 25px 0 80px 0;
      @include fontproperty(12px, 1.5, 400);
    }
  }
  &__price {
    @include fontproperty();
    @include zeroindent();
    color: $highlightcolor;
    @include responsive(tablet) {
      @include fontproperty(14px, 1, 400);
    }
  }
  &:hover {
    cursor: pointer;
    background-color: $hovercolor;
  }
}
