.button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 224px;
  height: 50px;
  margin: 0;
  padding: 13px 16px;
  text-align: center;
  border: 0;
  border-radius: 0px 8px 8px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include fontproperty(14px, 1.71, 400);
  background-color: $dullcolor;
  color: $primarycolor;
  @include responsive(phone){
    min-width: 52px;
    width: 52px;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(71, 71, 76, 0.7);
  }
  &__text {
    @include fontproperty(14px, 1.71, 400);
    letter-spacing: 0.375px;
    display: inline-block;
    @include zeroindent();
    @include responsive(tablet) {
      @include fontproperty(14px, 1.71, 400);
    }
    @include responsive(phone) {
      display: none;
    }
  }
  &__icon {
    margin-left: 7px;
    @include responsive(phone) {
      @include fontproperty(14px, 1.71, 400);
      align-self: center;
      margin: 0 auto;
    }
  }
}
